SPRING_PROFILES_ACTIVE=local
SPRING_CLOUD_CONFIG_URI=http://localhost:8888

AUTH_DB_PASSWORD=1234
KEYCLOAK_CLIENT_SECRET=replace-me
KEYCLOAK_CONFIG_NAME=local-user@example.com
KEYCLOAK_CONFIG_PASSWORD=1234
AWS_ACCESS_KEY_ID=replace-me
AWS_SECRET_ACCESS_KEY=replace-me
RABBITMQ_PASSWORD=guest
